*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

:root {
    --bg-color: #F7F8FC;
    --title-color: #1F2D53FF;
    --title-size: 26px;
    --pading: 20px;
    --text-color: #8189A2FF;
    --wraper-shadow: 0 2px 7px rgba(20, 20, 43, .09);
    --limit-witdh-container: 1220px;
    --border: 1px dashed #AAB1C6;
    --border-solid: 1px solid #e6e9f1;
    --border-radius: 12px;
}


body {
    font-family: "Inter";
}