.visualize_title {
    color: var(--title-color);
    font-size: var(--title-size);
    font-weight: 700;
    margin-bottom: 12px;
}

.visualize_description {
    margin-bottom: 12px;
    color: var(--text-color);
}

.visualize_contents_container {
    background-color: #fff;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
    flex-direction: column;
}

.visualize_response_wrapper {
    width: 80%;
    padding: 20px;
    color: var(--text-color);
    border: var(--border-solid);
    background-color: #fff;
    box-shadow: var(--wraper-shadow);
    border-radius: var(--border-radius);
}

.visualize_response_subtitle {
    font-size: 16px;
}

.visualize_response {
    margin-top: 20px;
    padding-left: 20px;
    
}

.visualize_item_response {
    height: 24px;
    padding: 5px 0;
    list-style-type: disc
}
